In [2]:
import pandas as pd

In [3]:
pd.Series(['Navas','Mbappe','Neymar','Messi'])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [4]:
psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'],index=[1,7,10,30])
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [5]:
dict = {1:'Navas',7:'Mbappe',10:'Neymar',30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [6]:
psg_players[0:3]

C:\Users\fbrav\AppData\Local\Temp\ipykernel_16808\1834811750.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  psg_players[0:3]

1      Navas
7     Mbappe
10    Neymar
dtype: object

In [7]:
new_dict = {'Jugador':['Navas','Mbappe','Neymar','Messi'],
'Altura': [183.0,170.0,170.0,165.0],
'Goles': [2,200,200,200]}

In [8]:
dataf_players = pd.DataFrame(new_dict,index=[1,7,10,30]) #El index es opcional, si se deja vacio se genera del 0 al n
dataf_players

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200

In [9]:
dataf_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [10]:
dataf_players.index

Int64Index([1, 7, 10, 30], dtype='int64')