In [2]:
import pandas as pd
import numpy as np

In [8]:
dict = {'col1':[1,2,3,np.nan],
'col2':[4,np.nan,6,7],
'col3':['a','b','c',None]}

In [10]:
df = pd.DataFrame(dict)
df

   col1  col2  col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

In [11]:
#Nos muestra verdadero en las celdas null o vacias
df.isnull()

    col1   col2   col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

In [20]:
#Pregunta si es null, luego lo multiplica por una cantidad para reconocerlo 
df.isnull()*1

   col1  col2  col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

In [13]:
#Rellena con una cadena de caracteres especifica
df.fillna('Missing')

      col1     col2     col3
0      1.0      4.0        a
1      2.0  Missing        b
2      3.0      6.0        c
3  Missing      7.0  Missing

In [14]:
#Rellena con funciones del dataframe como media, mediana, percentiles etc
df.fillna(df.mean())

C:\Users\fbrav\AppData\Local\Temp\ipykernel_31040\634187881.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean())

   col1      col2  col3
0   1.0  4.000000     a
1   2.0  5.666667     b
2   3.0  6.000000     c
3   2.0  7.000000  None

In [15]:
#Continua la sucesion en una serie asumiendo los valores que deberian seguir
df.interpolate()

   col1  col2  col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

In [16]:
#Elimina los valores nulos
df.dropna()

   col1  col2 col3
0   1.0   4.0    a
2   3.0   6.0    c